.login{
    min-height: calc(100vh - 90px);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px 20px;
}

.login-caixa{
    width: 100%;
    max-width: 400px;

    padding: 40px;

    background-color: #2b1b16;

    border: 1px solid #6b5038;
    border-radius: 10px;

    text-align: center;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.login-caixa h1{
    margin-bottom: 10px;

    color: #c6a06a;

    font-size: 32px;
}

.login-caixa p {
    margin-bottom: 30px;

    color: #f1e3ce;

    font-size: 16px;
}

.login-caixa form {
    display: flex;
    flex-direction: column;

    text-align: left;
}

.login-caixa label {
    margin-bottom: 8px;

    color: #f1e3ce;

    font-size: 15px;
}

.login-caixa input {
    width: 100%;
    padding: 113px;
    margin-bottom: 20px;

    background-color: #211713;
    color: #f1e3ce;

    border: 1px solid #6b5038;
    border-radius: 5px;

    outline: none;

    font-size: 15px;
}

.login-caixa input:focus{
    border-color: #c6a06a;
}

.login-caixa button{
    padding: 13px;

    margin-top: 5px;
    margin-bottom: 20px;

    background-color: #c6a06a;

    color: #211713;

    border: none;
    border-radius: 5px;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}

.login-caixa button:hover{
    background-color: #d8b77f;
}

.login-caixa a {
    color: #c6a06a;

    text-decoration: none;

    font-size: 14px;
}

.login-caixa a:hover{
    text-decoration: underline;
}

.login-caixa form p{
    margin-top: 25px;

    text-align: center;

    color: #f1e3ce;

    font-size: 14px;
}